{% extends 'projects/base.html' %}

{% block content %}

<h1 class="text-center mt-5">About Me</h1>


<h5 class="text-center">
    My name is Harrison Nguyen, and I am currently pursuing a Bachelor of Science in Computer Science with concentrations in Software Engineering and Computer/Network Security. 
I built this website to showcase my skills and my love of learning. Shortly, I will be working on projects involving the analysis of financial data and data visualization.</h5> 
<br>
<h5 class="text-center">
    Outside of Computer Science, I am a lifelong Philadelphia Eagles fan, a passionate fitness enthusiast, an avid combat sports practitioner, and a self-proclaimed pho expert.
</h5>
<br><br><br>
<h5 class="text-center">
    If you would to speak with me or receive a copy of my resume, you can contact me through LinkedIn or at hxn26@drexel.edu.
</h5>

{% endblock %}